<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Bluethink_AdvanceReports::bluethink_advancereports" title="bluethink advancereports" sortOrder="10">
					<resource id="Bluethink_AdvanceReports::index_index" title="index index" sortOrder="10"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Bluethink_AdvanceReports::config_bluethink_advancereports" title="bluethink"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
